<script>
Ext.onReady(function(){
    // shorthand
    var Tree = Ext.tree;

    var tree = new Tree.TreePanel({
        useArrows: true,
        autoScroll: true,
		width: 200,
        animate: true,
        enableDD: true,
        containerScroll: true,
        border: true,
        // auto create TreeLoader
        dataUrl: '/gettree',

        root: {
            nodeType: 'async',
            text: 'People',
            draggable: false,
            id: '1'
        }
    });

    // render the tree
    tree.render('tree-div');
    tree.getRootNode().expand();
	
	tree.on('beforemovenode', function(tree, node, oldParent, newParent, index) {
		Ext.Ajax.request({ 
			url: '/move', 
			params: {
				nodeid: node.id, 
				newparentid: newParent.id, 
				oldparentid: oldParent.id, 
				dropindex: index,
				leaf: node.leaf
			} 
		});
	});

});
</script>

<div id="tree-div"></div>