<script>

Ext.onReady(function(){
	function treeContextHandler(node) { 
		node.select(); 
		contextMenu.show(node.ui.getAnchor());
	}
	
	function deleteHandler() { 
		var node = tree.getSelectionModel().getSelectedNode();
		Ext.Ajax.request({ 
			url: '/delete', 
			params: {
				nodeid: node.id, 
				leaf: node.leaf
			} 
		});
		tree.getSelectionModel().getSelectedNode().remove();
	}
	
	function addHandler() {
		
	}	
	
	function editHandler() {
		
	}
	
    var Tree = Ext.tree;
    var tree = new Tree.TreePanel({
        useArrows: true,
        autoScroll: true,
		width: 200,
        animate: true,
        enableDD: true,
        containerScroll: true,
        border: true,
        // auto create TreeLoader
        dataUrl: '/gettree',

        root: {
            nodeType: 'async',
            text: 'People',
            draggable: false,
            id: '1'
        }
    });

	var contextMenu = new Ext.menu.Menu({
		items: [
			{ text: 'Add', handler: addHandler },
			{ text: 'Edit', handler: editHandler },
			{ text: 'Delete', handler: deleteHandler }			
		]
	});

    tree.render('tree-div');
    tree.getRootNode().expand();

	tree.on('beforemovenode', function(tree, node, oldParent, newParent, index) {
		Ext.Ajax.request({ 
			url: '/move', 
			params: {
				nodeid: node.id, 
				newparentid: newParent.id, 
				oldparentid: oldParent.id, 
				dropindex: index,
				leaf: node.leaf
			} 
		});
	});	
	tree.on('contextmenu', treeContextHandler);

});
</script>

<div id="tree-div"></div>
<div id="sel">-</div>