<div>
	<table class="cont-table">
		<th>
			<%= t('course') %>
		</th>
		<th></th>
		<th></th>
		<% @courses.each do |c| %>
			<tr>
				<td><%= c.tutor.name %></td>
				<td><%= link_to(c.subject.name, course_path(c)) %></td>
				<td><%= c.group.description %></td>
			</tr>
		<% end %>		
	</table>
</div>