<div class="custom">
	<table class="cont-table">
		<th>
			<%= t('name') %>
		</th>
		<th>
			<%= t('position') %>
		</th>
		
		<% @tutors.each do |t| %>
			<tr>
				<td><%= link_to t.name, tutor_path(t) %></td>
				<td><%= t.position %></td>
			</tr>
		<% end %>
	</table>
</div>